@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Kanit:wght@600&family=Montserrat:wght@100;900&display=swap');

* {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

/* ____________________ TEXTTAGGAR ____________________ */

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    color: white;
}

h1:not(.introduktion *) {
    margin-bottom: 3rem;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
}

h2:not(.introduktion *) {
    padding-bottom: 0.5rem;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 0.7rem;

    height: 2rem;
    display: flex;
    align-items: center;
}

p {
    font-family: 'EB Garamond', serif;
    font-size: 1.3rem;
}

/* ____________________ HEADER ____________________ */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 3rem 4rem 0 4rem; 
    color: rgb(255, 255, 255);
    width: 100%;
}

header > * {
    display: flex; 
}

header > * > a {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.625rem 1.25rem 0.625rem 1.25rem;
    color: rgb(255, 255, 255);    
}

header > * > a > img {
    height: 27px;
    width: auto;
}

#vald {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: rgb(0, 0, 0);
}

#vald.allmant {
    background-image: url(../img/penseldrag1.png);    
}

#vald.meny {
    background-image: url(../img/penseldrag2.png);    
}

#vald.boka {
    background-image: url(../img/penseldrag3.png);   
}

/* ____________________ ARTIKLAR MED KLASSEN 'INTRODUKTION' ____________________ */

.introduktion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    background-repeat: no-repeat;
    background-size: 100% 100%;

    height: 100vh;
}

.introduktion > section {
    display: flex;
    align-items: center;
    flex-direction: column;
    
    margin-bottom: 20vh;
}

.introduktion > section > #text {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
    background-repeat: no-repeat;
    background-size: 100% 100%;

    padding: 2rem 2.5rem 2rem 2.5rem;
}

.introduktion > section > #logotyp {
    display: flex;   
    align-items: center;
}

.introduktion > section > #logotyp > img {
    height: 50px;
    width: auto;
}

.introduktion#allmant {
    background-image: url(../img/vinter.png);
}

.introduktion#meny {
    background-image: url(../img/stuga.png);
}

.introduktion#boka {
    background-image: url(../img/landskap.png);
}

.introduktion#allmant > section > #text {
    background-image: url(../img/penseldrag4.png);
}

.introduktion#meny > section > #text {
    background-image: url(../img/penseldrag5.png);
}

.introduktion#boka > section > #text {
    background-image: url(../img/penseldrag6.png);
}

/* ____________________ ARTIKLAR MED KLASSEN 'HUVUDDEL' ____________________ */

.huvuddel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-repeat: repeat-y;
    background-size: 100%; 

    padding: 5rem 0 5rem 0;
}

.huvuddel:not(#boka) > section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    width: 750px;
}

.huvuddel:not(#boka) > section > section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-size: 100% 100%;
    background-repeat: no-repeat;

    padding: 3rem 3.5rem 3rem 3.5rem;
}

.huvuddel:not(#sushi, #hamburgare, #fishnchips, #fajita, #kottbullar, #tikkamasala, #anka, #chimichurri, #pizza, #yassa, #potijekos, #boka) > section > * {
    margin-bottom: 3rem;
}

/* ____________________ ARKIELN MED ID:T 'RECENSIONER' ____________________ */

#recensioner {
    background-image: url(../img/plank.png);
}

#recensioner > section > section {
    width: 350px;
}

#recensioner > section > section > div {
    display: flex;
}

#recensioner > section > section > div > div {
    width: 0.75rem;
    height: 0.75rem;

    margin: 0.455rem 0.125rem 0.935rem 0.125rem;
    border-radius: 0.375rem;
    border: 1.5px solid;
}

#recension_1 {
    background-image: url(../img/penseldrag7.png);
}

#recension_2 {
    background-image: url(../img/penseldrag8.png);
}

#recension_3 {
    background-image: url(../img/penseldrag9.png);
}

#recension_4 {
    background-image: url(../img/penseldrag10.png);
}

/* ____________________ ARTIKELARNA MED ID:T 'LOKALER' OCH 'HITTA HIT' ____________________ */

#lokaler {
    background-image: url(../img/mark.png);
}

#hittahit {
    background-image: url(../img/barr.png);
}

#lokaler > section > section, #hittahit > section > section {
    width: 400px;
}

#lokaler > section > img, #hittahit > section > img {
    width: 300px;
    height: auto;
}

#lokaler > section > #lokaler_1 {
    background-image: url(../img/penseldrag11.png);
}

#lokaler > section > #lokaler_2 {
    background-image: url(../img/penseldrag12.png);
}

#hittahit > section > section {
    background-image: url(../img/penseldrag13.png);
}

iframe {
    -webkit-mask-box-image: url(../img/mask.png);
    margin: -3rem 0 3rem 0;
    height: 480px;
    width: 750px;
}

/* ____________________ ARTIKLARNA SOM UTGÖR MENYN ____________________ */


#sushi, #chimichurri  {
    background-image: url(../img/sno.png);
}

#hamburgare, #anka, #potijekos {
    background-image: url(../img/barr.png);    
}

#fishnchips, #tikkamasala, #yassa {
    background-image: url(../img/tra.png);
}

#fajita, #pizza {
    background-image: url(../img/kotte.png);
}

#kottbullar {
    background-image: url(../img/frost.png);
}

#sushi > section > section, #fajita > section > section, #anka > section > section, #yassa > section > section {
    background-image: url(../img/penseldrag14.png);
} 

#hamburgare > section > section, #kottbullar > section > section, #chimichurri > section > section, #potijekos > section > section {
    background-image: url(../img/penseldrag13.png);    
}

#fishnchips > section > section, #tikkamasala > section > section, #pizza > section > section {
    background-image: url(../img/penseldrag12.png);
}

.huvuddel:not(#recensioner, #lokaler, #hittahit, #boka) > section > section {
    width: 400px;
}

.huvuddel:not(#recensioner, #lokaler, #hittahit, #boka) > section > img {
    width: 300px;
    height: auto;
}

/* ____________________ ARTIKELN MED KLASSEN 'HUVUDDEL' OCH ID:T 'BOKA' ____________________ */

.huvuddel#boka {
    background-image: url(../img/barr.png);
}

.huvuddel#boka > section {    
    display: grid;
    grid-template-columns: 2.1fr 2.9fr 2.1fr 2.9fr;    
    grid-template-areas: 
        "nam nam tel tel"
        "bor dat dat tid";
    grid-gap: 1.5rem;
    
    width: 750px;
}

.huvuddel#boka > section > section > h2 {
    background-repeat: no-repeat;
    background-size: 100% 100%;

    padding: 1rem 2rem 1rem 2rem;
    margin-bottom: 1rem;
    width: min-content;
}

.huvuddel#boka > section > section > *:not(h2) {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 3px;
    color: rgb(255, 255, 255);
    padding: 1rem 2rem 1rem 2rem;
}

.huvuddel#boka > section > section > section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
}

.huvuddel#boka > section > section > section > * {
    display: flex;
    align-items: center;
    justify-content: center;
}

.huvuddel#boka > section > section > section > p {
    height: 3rem;
}

/* ____________________ GRID-WRAPPERNS SEKTIONER ____________________ */

#namn {
    grid-area: nam;
}

#telefon {
    grid-area: tel;
}

#bord {
    grid-area: bor;
}

#datum {
    grid-area: dat;
}

#tid {
    grid-area: tid;
}

#namn > h2 {
    background-image: url(../img/penseldrag15.png);
}

#telefon > h2 {
    background-image: url(../img/penseldrag16.png);
}

#bord > h2 {
    background-image: url(../img/penseldrag17.png);
}

#datum > h2 {
    background-image: url(../img/penseldrag18.png);
}

#tid > h2 {
    background-image: url(../img/penseldrag19.png);
}

#bord > section > h3, #tid > section > h3 {
    width: 100%;
}

#bord > section > p, #tid > section > p {
    width: 50%;
}

#datum > section > * {
    width: 14.28%;
}

.otillganglig {
    color: rgb(170, 170, 170);
}

.vald {
    background: rgb(210, 210, 210);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

/* ____________________ FOOTER ____________________ */

footer {
    display: flex;
    align-items: center;
    flex-direction: column;

    background-image: url(../img/natt.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    padding: 4rem 0 6rem 0;
}

footer > section {
    display: flex;
    justify-content: space-between;

    width: 700px;
}

footer section > h3 {
    color: rgb(255, 255, 255);
}

footer section > p {
    color: rgb(190, 190, 190);
}